{%- assign is_post = page.layout == "post" or page.date -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ is_post | default: false | if: "BlogPosting", else: "WebSite" }}",
  "name": {{ page.title | default: site.title | jsonify }},
  "headline": {{ page.title | default: site.title | jsonify }},
  "description": {{ page.excerpt | strip_html | strip_newlines | default: site.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  {%- if is_post -%}
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | default: site.author | default: "Erin" | jsonify }}
  },
  "image": {{ page.image | absolute_url | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page.url | absolute_url | jsonify }}
  }
  {%- endif -%}
}
</script>